.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.data {
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    padding: 5px 5px 5px 15px;
}
.title {
    padding: 5px;
    padding-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}